*.bak
*.bat
*.cfg
*.deb
*.lib
*.log
*.gz
*.ppd
*.tgz
*.tmp
*.exe
*.o
.cproject
.includepath
.project
.settings
/*-[0-9]*.[0-9]*
/bin
/include/X11
/libsrc/debug/zcc_opt.def
/libsrc/graphics/x11/zcc_opt.def
/src/config.h
/src/appmake/appmake
/src/copt/copt
/src/cpp/zcpp
/src/sccz80/sccz80
/src/z80asm/z80asm
/src/zcc/zcc
!/support/winstall/setup_ext/cfgs/*.cfg
/libsrc/*/*.def
/libsrc/*/*/*.def
/libsrc/*/*/*/*.def
