# Allow us to switch assembler/compiler flags relatively easily

# Directory where the .lst files are located
LISTFILE_DIRECTORY=.

# Directory that the .lib files should be placed in
OUTPUT_DIRECTORY=.

#USE_MPM=1
ifdef USE_MPM
LIBLINKER = mpm -I$(Z80_OZFILES) -d -ns -nm -Mo
ASSEMBLER = mpm -I$(Z80_OZFILES)
CFLAGS = -mpm
else
LIBLINKER = z80asm -d -ns -nm -Mo
ASSEMBLER = z80asm
endif

CFLAGS = -vn -make-lib -Wn43

# ZX Ansi display driver; valid presets are:
# 24,28,32,36,40,42,51,64,80,85,128,
# ROM24.ROM28,ROM32,ROM36.

#ZXCOLS = 64

ifeq ($(ZXCOLS),128)
COLDEFS = -DPACKEDFONT -DA128COL
endif
ifeq ($(ZXCOLS),85)
COLDEFS = -DPACKEDFONT -DA85COL
endif
ifeq ($(ZXCOLS),80)
COLDEFS = -DPACKEDFONT -DA80COL
endif
ifeq ($(ZXCOLS),64)
COLDEFS = -DPACKEDFONT -DA64COL
endif
ifeq ($(ZXCOLS),51)
COLDEFS = -DA51COL
endif
ifeq ($(ZXCOLS),42)
COLDEFS = -DA42COL
endif
ifeq ($(ZXCOLS),40)
COLDEFS = -DA40COL
endif
ifeq ($(ZXCOLS),36)
COLDEFS = -DA36COL
endif
ifeq ($(ZXCOLS),32)
COLDEFS = -DA32COL
endif
ifeq ($(ZXCOLS),28)
COLDEFS = -DA28COL
endif
ifeq ($(ZXCOLS),24)
COLDEFS = -DA24COL
endif
ifeq ($(ZXCOLS),ROM36)
COLDEFS = -DA36COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM32)
COLDEFS = -DA32COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM28)
COLDEFS = -DA28COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM24)
COLDEFS = -DA24COL -DROMFONT
endif
COLDEFS ?= -DPACKEDFONT -DA64COL
